header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background-color: rgb(53, 53, 52);
    z-index: 2;
    font-size: 20px;
}

h2 {
    color: orange;
}

.accueil {
    text-align: center;
    position: relative;
    top: 120px;
    color: orangered;
    font-size: x-large;
}

#boutonAccueil,
#boutonAbout,
#boutonParcours,
#boutonProjet,
#boutonVeille {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 35px;
    font-family: gigi;
    top: 30px;
}

#boutonAccueil:hover,
#boutonAbout:hover,
#boutonParcours:hover,
#boutonProjet:hover,
#boutonVeille:hover {
    color: orange;
}

.container {
    position: relative;
    background-color: black;
    left: 230px; /* Adjusted left value */
    top: 0%;
    color: white;
    width: calc(100% - 230px); /* Adjusted width value */
    font-size: 18px;
}

.container-Accueil {
    position: relative;
    background-color: black;
    height: 935px;
    top: -30px;
    margin: 0;
    display: block;
}

.container-About {
    position: relative;
    background-color: aliceblue;
    color: black;
    margin: 0;
    display: block;
}

.pos-about {
    position: relative;
    left: 120px;
    width: 1500px;
}

.container-Parcours {
    position: relative;
    background-color: rgb(73, 90, 104);
    color: white;
}

.pos-parcours {
    position: relative;
    width: 1500px;
    left: 120px;
}

.col-ecole {
    color: black;
    width: 350px;
    height: 200px;
    transition: background-color 0.4s, color 0.4s;
    background-color: white;
    position: relative;
    border-radius: 20px;
    left: 500px;
    text-align: center;
}

.col-ecole:hover {
    background-color: orange;
    color: aliceblue;
}

.container-Projet {
    position: relative;
    background-color: white;
    color: black;
}

.pos-projet {
    position: relative;
    left: 120px;
    width: 1500px;
}

.container-Veille {
    position: relative;
    background-color: rgb(73, 90, 104); /* Changed to a single color value */
}

.pos-veille {
    position: relative;
    left: 120px;
    width: 1500px;
    height: 1300px;
}

.container-competence {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

.col-competence {
    color: black;
    border: 2px solid black;
    text-align: center;
    width: 90px;
    height: 100px;
    transition: background-color 0.4s, color 0.4s;
    display: flex;
    align-items: center;
    border-radius: 15%;
    justify-content: center;
    background-color: white;
}

.col-competence:hover {
    background-color: orange;
    color: aliceblue;
}

.container-exveille {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

a {
    text-decoration: none;
    color: orange;
    font-style: italic;
    font-size: 25px;
}

a:hover {
    color: orangered;
}

.container-veille2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

.box-veille {
    color: black;
    text-align: center;
    width: 350px;
    height: 250px;
    align-items: center;
    font-size: 20px;
}
