header{
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 230px;
    background-color: rgb(60, 68, 82);
    z-index: 2;
    font-size: 20px;
}

h2{
    color: orange;
}

.accueil h2{
    color: orange;
    font-size:65px ;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 80px;
}

.accueil{
    text-align: center;
    position: relative;
    top: 120px;
    color: rgb(60, 68, 82);
    font-size: x-large;
}

#boutonAccueil{
    position: relative;
    border: none; 
    background-color: transparent;    
    color: white;
    font-size: 35px;
    font-family: gigi;
    top: 30px;
}

#boutonAccueil:hover{
    color: orange;
}

#boutonAbout{
    position: relative;
    border: none; 
    background-color: transparent; 
    color: white;
    font-size: 35px;
    font-family: gigi;
    top: 50px;
}

#boutonAbout:hover{
    color: orange;
}

#boutonParcours{
    position: relative;
    font-size: 35px;
    font-family: gigi;
    color: white;
    border: none; 
    background-color: transparent; 
    top: 70px;
}

#boutonParcours:hover{
    color: orange;
}

#boutonProjet{
    color: white;
    position: relative;
    border: none;     
    font-size: 35px;
    font-family: gigi;
    background-color: transparent; 
    top: 90px;
}

#boutonProjet:hover{
    color: orange;
}

#boutonVeille{
    position: relative;
    color: white;
    border: none; 
    font-size: 35px;
    font-family: gigi;
    background-color: transparent; 
    top: 120px;
}

#boutonVeille:hover{
    color: orange;
}

.container{
    position: relative;
    background-color: rgb(36, 36, 35);
    left:220px;
    top: 0%;
    color: white;
    width: 88.5%;
    font-size: 18px;
}

.container-Accueil{
    position: relative;
    background-color: rgb(36, 36, 35);
    height: 935px;
    top: -30px;
    margin: 0%;
    display: block;
}

.container-About{
    position: relative;
    background-color: aliceblue;
    color:black;
    margin: 0%;
    display: block;
}

.pos-about{
    position: relative;
    left: 120px;
    width: 1500px;
}

.container-Parcours{
    position: relative;
    background-color: rgb(73, 90, 104);
    color: white;
}

.pos-parcours{
    position: relative;
    width: 1500px;
    left: 120px;
}

.col-ecole{
    color: black;
    width: 350px;
    height: 200px;
    transition: background-color 0.4s, color 0.4s;
    background-color: white;
    position: relative;
    border-radius: 20px;
    left: 500px;
    text-align: center;
}

.col-ecole:hover{
    background-color: orange;
    color: aliceblue;
}

.container-Projet{  
    position: relative;
    background-color: white;
    color: black;
}

.pos-projet{
    position: relative;
    left: 120px;
    width: 1500px;
}

.container-Veille{
    position: relative;
    background-color: aliceblue;
    background-color: rgb(73, 90, 104);
}

.pos-veille{
    position: relative;
    left: 120px;
    width: 1500px;
    height: 1300px;
}

.container-competence{
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

.col-competence{
    color: black;
    border: 2px solid black;
    text-align: center;
    width: 90px;
    height: 100px;
    transition: background-color 0.4s, color 0.4s;
    display: flex; 
    align-items: center; 
    border-radius: 15%;
    justify-content: center;
    background-color: white;
    position: relative;
}


.col-competence:hover{  
    background-color: orange;
    color: aliceblue;
}


.container-exveille{
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

a{
    text-decoration: none;
    color:orange;
    font-style: italic;
    font-size: 25px;
}

a:hover{
    color: orangered;
}

.container-veille2{
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    height: 200px;
    width: 1400px;
    left: 80px;
    position: inherit;
}

.box-veille{
    color: black;
    text-align: center;
    width: 350px;
    height: 250px;
    align-items: center; 
    font-size: 20px;
}

table {
    position: relative;
    left: -50px;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;

}

img{
    height: 300px;
    width: 400px;
}

.container-PDF {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pos-PDF {
    position: relative;
    left: 120px;
    width: 1500px;
    height: 1300px;
    
}

.container-PDF h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.container-PDF p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.container-PDF a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #0066cc;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.container-PDF a:hover {
    background-color: #004999;
}
